<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Counter Management</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="general.css" rel="stylesheet"/>
</head>
<body>
   <div class="horizontal_parent_full_height ">
        <div class="container">
            <Label id="c1"> Counter 1 </Label>
            <button id="status1">Go Offline</button>
            <button id="complete1"> Complete Current </button>
            <button id="callNext1"> Call Next </button>
        </div>

        <div class="container">
            <Label id="c2"> Counter 2 </Label>
            <button id="status2">Go Offline</button>
            <button id="complete2"> Complete Current </button>
            <button id="callNext2"> Call Next </button>
        </div>

        <div class="container">
            <Label id="c3"> Counter 3 </Label>
            <button id="status3">Go Offline</button>
            <button id="complete3"> Complete Current </button>
            <button id="callNext3"> Call Next </button>
        </div>

        <div class="container">
            <Label id="c4"> Counter 4 </Label>
            <button id="status4">Go Offline</button>
            <button id="complete4"> Complete Current </button>
            <button id="callNext4"> Call Next </button>
        </div>
        <script src="counter.js" ></script>
   </div>
</body>
</html>