<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Customer View</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="general.css" rel="stylesheet"/>
</head>
<body onload="updatePageStatus()">
    <div class="horizontal_parent">
        <div class="container">
            <label id="now-serving-label">Now Serving: </label>
            <label id="last-number-label">Last Number: </label>
            <button id="generate-number">Take a Number</button>
        </div>
    </div>

    <div class="horizontal_parent">
        <div class="container">
            <span class="dot" id="c1dot"></span>
            <label>Counter 1</label>
            <label id="c1-num"></label>
        </div>

        <div class="container">
            <span class="dot" id="c2dot"></span>
            <label>Counter 2</label>
            <label id="c2-num"></label>
        </div>

        <div class="container">
            <span class="dot" id="c3dot"></span>
            <label>Counter 3</label>
            <label id="c3-num"></label>
        </div>

        <div class="container">
            <span class="dot" id="c4dot"></span>
            <label>Counter 4</label>
            <label id="c4-num"></label>
        </div>
    </div>
    <script src="customer.js"></script> 
</body>
</html>